title = "부가서비스 접수"
url = "/service/addService/:page"
layout = "default"
description = "부가서비스 주문관리를 하실 수 있습니다"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList]
modelClass = "Jiwon\Byapps\Models\AdditionalService"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "app_name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 20
pageNumber = "{{ :page }}"
sortColumn = "idx"
sortDirection = "desc"

[session]
security = "user"
allowedUserGroups[] = "admin_level_1"
redirect = "permission"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<?php
function onStart()
{
    $this['func'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };

    $this['arrProcess'] = array('0' => '주문취소', '1' => '주문확인', '2' => 'SDK설치진행', '3' => 'SDK설치중', '4' => '설치완료');
}
?>
==
{% component 'breadcrumbs' %}

<div class="container">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

  <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
              <tr>
                  <th>주문일</th>
                  <th>상태</th>
                  <th>주문내역</th>
                  <th>결제</th>
                  <th>영수증</th>
                  <th>주문자명</th>
                  <th>업체명</th>
                  <th>연락처</th>
              </tr>
          </thead>

          <tbody>
           {% for record in records %}
              <tr>
                  <td>{{ func.dateFormat(record.reg_time) }}</td>
                {% for key,val in arrProcess %}
                  {% if key == record.app_process %}
                    <td>{{ val }}</td>
                  {% endif %}
                {% endfor %}
                  <td>{{ record.service_type }}</td>
                  <td>{{ record.pay_way }}</td>
                  <!-- <td>{{ record.receipt | slice(0, 30) }}</td> -->
                  <td>{{ record.receipt != '' ? "발행" : "미발행" }}</td>
                  <td>{{ record.order_name }}</td>
                  <td>
                  {% if detailsPage %}
                      <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                  {% endif %}

                  {{ attribute(record, displayColumn) }}

                  {% if detailsPage %}
                      </a>
                  {% endif %}
                  </td>
                  <td>{{ record.cellno }}</td>
              </tr>

           {% else %}
          <li class="no-data">{{ noRecordsMessage }}</li>
          {% endfor %}
          </tbody>
      </table>

  {% set paginationEnabled =
      records.currentPage > 1 or
      records.lastPage > 1 or
      records.lastPage > records.currentPage
  %}

  {% if paginationEnabled %}
      {# How many pages to display around the current page #}
      {% set n = 2 %}

      {% set currentPageZeroBased = records.currentPage-1 %}

      {% set pageLinks = [] %}
      {% set pageSet = [] %}

      {% set startOffset = max(currentPageZeroBased - n, 0) %}
      {% if (startOffset + 2*n+1) > (records.lastPage-1) %}
          {% set startOffset = max(records.lastPage - 2*n - 1, 0) %}
      {% endif %}

      {% for page in 1..records.lastPage %}
          {% set pageLinks = pageLinks|merge([page]) %}
      {% endfor %}

      {% set activeBlock = pageLinks|slice(startOffset, 2*n + 1) %}

      {% if startOffset > 0 %}
          {% set pageSet = pageSet|merge([1]) %}

          {% if startOffset > 1 %}
              {% set pageSet = pageSet|merge(['...']) %}
          {% endif %}
      {% endif %}

      {% set pageSet = pageSet|merge(activeBlock) %}

      {% set diffToEnd = (records.lastPage-1) - (startOffset + 2*n+1) + 1 %}

      {% if diffToEnd > 0 %}
          {% if diffToEnd > 1 %}
              {% set pageSet = pageSet|merge(['...']) %}
          {% endif %}

          {% set pageSet = pageSet|merge([records.lastPage]) %}
      {% endif %}

      <ul class="pagination">
          {% if records.currentPage > 1 %}
              <li>
                  <a href="{{ paginationUrl ~ (records.currentPage - 1) }}">
                      &larr; Previous
                  </a>
              </li>
          {% else %}
              <li class="disabled">
                  <span>
                      &larr; Previous
                  </span>
              </li>
          {% endif %}

          {% for page in pageSet %}
              {% if page == '...' %}
                  <li class="interval">
                      <a>{{ page }}</a>
                  </li>
              {% else %}
                  <li class="{{ page == records.currentPage ? 'active' }}">
                      <a href="{{ paginationUrl ~ page }}">{{ page }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {% if records.lastPage > records.currentPage %}
              <li>
                  <a href="{{ paginationUrl ~ (records.currentPage + 1) }}">
                      Next &rarr;
                  </a>
              </li>
          {% else %}
              <li class="disabled">
                  <span>
                      Next &rarr;
                  </span>
              </li>
          {% endif %}
      </ul>
  {% endif %}
