title = "APK관리"
url = "/apps/apkManage/:page"
layout = "default"
description = "APK 관리를 하실 수 있습니다"
is_hidden = 0
child_of = "appsList"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList]
modelClass = "Jiwon\Byapps\Models\ApkManage"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "app_id"
noRecordsMessage = "No records found"
detailsPage = "apkData"
detailsKeyColumn = "idx"
detailsUrlParameter = "idx"
recordsPerPage = 20
pageNumber = "{{ :page }}"

[session]
security = "user"
allowedUserGroups[] = "admin_level_1"
redirect = "permission"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"
==
<?php
function onStart()
{
    $this['func'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };

    $this['url_prefix'] = 'http://byapps.co.kr/Admin/php/apk_index.php?op=down';

    $this['arrProcess'] = array( 1=> '대기', 2 => '완료');
}
?>
==
{% component 'breadcrumbs' %}

<div class="container">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

  <table id="example" class="table table-striped table-bordered" style="width:100%">
          <thead>
              <tr>
                  <!-- <th>IDX</th> -->
                  <th>앱아이디</th>
                  <th>앱명</th>
                  <th>상태</th>
                  <th>등록일</th>
                  <th>다운로드</th>
              </tr>
          </thead>

          <tbody>
           {% for record in records %}
              <tr>
                  <!-- <td>{{ record.idx }}</td> -->
                  <td>
                  {% if detailsPage %}
                      <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                  {% endif %}

                  {{ attribute(record, displayColumn) }}

                  {% if detailsPage %}
                      </a>
                  {% endif %}
                  </td>
                  <td>{{ record.app_name }}</td>
                  <td>{{ record.app_process == 1 ? "대기" : "완료" }}</td>
                  <td>{{ func.dateFormat(record.reg_time) }}</td>
                  <td><a href="{{ url_prefix }}&app_id={{ record.app_id}}&fn={{ record.apk_file }}" download target="_self">Download</a></td>
              </tr>

           {% else %}
          <li class="no-data">{{ noRecordsMessage }}</li>
          {% endfor %}
          </tbody>
      </table>

  {% set paginationEnabled =
      records.currentPage > 1 or
      records.lastPage > 1 or
      records.lastPage > records.currentPage
  %}

  {% if paginationEnabled %}
      {# How many pages to display around the current page #}
      {% set n = 2 %}

      {% set currentPageZeroBased = records.currentPage-1 %}

      {% set pageLinks = [] %}
      {% set pageSet = [] %}

      {% set startOffset = max(currentPageZeroBased - n, 0) %}
      {% if (startOffset + 2*n+1) > (records.lastPage-1) %}
          {% set startOffset = max(records.lastPage - 2*n - 1, 0) %}
      {% endif %}

      {% for page in 1..records.lastPage %}
          {% set pageLinks = pageLinks|merge([page]) %}
      {% endfor %}

      {% set activeBlock = pageLinks|slice(startOffset, 2*n + 1) %}

      {% if startOffset > 0 %}
          {% set pageSet = pageSet|merge([1]) %}

          {% if startOffset > 1 %}
              {% set pageSet = pageSet|merge(['...']) %}
          {% endif %}
      {% endif %}

      {% set pageSet = pageSet|merge(activeBlock) %}

      {% set diffToEnd = (records.lastPage-1) - (startOffset + 2*n+1) + 1 %}

      {% if diffToEnd > 0 %}
          {% if diffToEnd > 1 %}
              {% set pageSet = pageSet|merge(['...']) %}
          {% endif %}

          {% set pageSet = pageSet|merge([records.lastPage]) %}
      {% endif %}

      <ul class="pagination">
          {% if records.currentPage > 1 %}
              <li>
                  <a href="{{ paginationUrl ~ (records.currentPage - 1) }}">
                      &larr; Previous
                  </a>
              </li>
          {% else %}
              <li class="disabled">
                  <span>
                      &larr; Previous
                  </span>
              </li>
          {% endif %}

          {% for page in pageSet %}
              {% if page == '...' %}
                  <li class="interval">
                      <a>{{ page }}</a>
                  </li>
              {% else %}
                  <li class="{{ page == records.currentPage ? 'active' }}">
                      <a href="{{ paginationUrl ~ page }}">{{ page }}</a>
                  </li>
              {% endif %}
          {% endfor %}

          {% if records.lastPage > records.currentPage %}
              <li>
                  <a href="{{ paginationUrl ~ (records.currentPage + 1) }}">
                      Next &rarr;
                  </a>
              </li>
          {% else %}
              <li class="disabled">
                  <span>
                      Next &rarr;
                  </span>
              </li>
          {% endif %}
      </ul>
  {% endif %}