title = "앱 상세"
url = "/apps/data/:idx"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails]
modelClass = "Jiwon\Byapps\Models\AppsData"
identifierValue = "{{ :idx }}"
modelKeyColumn = "idx"
displayColumn = "app_name"
notFoundMessage = "Record not found"

[session]
security = "user"
allowedUserGroups[] = "admin_level_2"
redirect = "permission"
==
<?php
use Jiwon\Byapps\Models\AppsData;

function onStart()
{
    $this['record'] = AppsData::where('idx', '=', $this->param('idx'))->first();
    
    $this['itemlist'] = array(
        array('Process','name="mem_id"',$this['record']->process,'selectBox',array(
                array('','선택해주세요'),
                array(1,'개발준비중'),
                array(2,'개발진행중'),
                array(3,'심사중'),
                array(4,'등록거부'),
                array(5,'재심사중'),
                array(6,'등록대기'),
                array(7,'등록완료'),
                array(8,'서비스중지'),
                array(10,'서비스유효'),
            )),
        array('RESELLER ID','disabled',$this['record']->recom_id),
        array('등록일','disabled',$this['record']->start_time),
        array('주문번호','disabled',$this['record']->order_id),
        array('회원ID','name="mem_id"',$this['record']->mem_id),
        array('App ID','disabled',$this['record']->app_id),
        array('Service Type','name ="service_type"',$this['record']->service_type,'radoiButton',array(
                array('biz','일반'),
                array('lite','라이트'),
                array('tester','테스터'),
            )),
        array('app OS','name ="service_type"',$this['record']->apps_type,'radoiButton',array(
                array('안드로이드','안드로이드'),
                array('안드로이드+iOS','안드로이드+iOS'),
            )),
        array('App Display','name="o_idx"',$this['record']->o_idx),
        array('App Name','name="app_name"',$this['record']->app_name),
        array('Byapps Ver','name="byapps_ver"',$this['record']->byapps_ver),
        array('Android Version','name="app_ver"',$this['record']->app_ver,'name="app_build"',$this['record']->app_build != "" ? $this['record']->app_build : "empty",'build:'),
        array('Ios Version','name="app_ver_ios"',$this['record']->app_ver_ios,'name="app_build_ios"',$this['record']->app_build_ios != "" ? $this['record']->app_build_ios : "empty",'build:'),
        array('App Category','name="app_cate"',$this['record']->app_cate,'selectBox',array(
                array('','선택해주세요'),
                array('01','패션/의류'),
                array('06','화장품/뷰티'),
                array('07','아동/유아'),
                array('02','스포츠/레져'),
                array('03','건강/농수산물'),
                array('04','가전/가구'),
                array('05','기타'),
            )),
        array('Server Group','disabled',$this['record']->server_group." 그룹"),
        array('GCM Key','name="noti_gcm"',$this['record']->noti_gcm),
        array('GCM Number','name="noti_gcm_num"',$this['record']->noti_gcm_num),
        array('Google App ID','name="noti_fcm_num"',$this['record']->noti_fcm_num),
        array('APNS Pass'),
        array('Process','name="push_server"',$this['record']->push_server,'selectBox',array(
                array('','default'),
                array('http://byapps.cafe24app.com/','http://byapps.cafe24app.com/'),
                array('http://push1.cafe24app.com/','http://push1.cafe24app.com/'),
                array('http://byappspush2.cafe24app.com/','http://byappspush2.cafe24app.com/'),
                array('http://byappspush3.cafe24app.com/','http://byappspush3.cafe24app.com/'),
                array('http://byappspush4.cafe24app.com/','http://byappspush4.cafe24app.com/'),
            )),
        array('PUSH TOKEN','name="push_token"',$this['record']->push_token),
        array('Period of Use','disabled',"start_date",'name="end_date"','end_date','~'),
        array('URL'),
        array('PackageName(Android)','name="packagename" placeholder= 안드로이드_패키지명이_변경되었을때 ',$this['record']->packagename),
        array('Bundle ID(iOS)','name="bundleid" placeholder= 안드로이드_패키지명과_다를때_입력(아이폰_앱빌드옹) ',$this['record']->bundleid),
        array('Vender','name="vender" placeholder= 안드로이드_무결성_검증(ex:com.android.vending) ',$this['record']->vender),
        array('Hash Key','name="hashkey placeholder= 안드로이드_무결성_검증',$this['record']->hashkey),
        array('iOS Hash	','name="ioshack" placeholder= IOS_무결성_검증',$this['record']->ioshack),
        array('Cafe24 Mall ID','name="host_id"',$this['record']->host_id),
        array('Charset','name="txtencode"',$this['record']->txtencode,'radoiButton',array(
                array('utf-8','utf-8'),
                array('EUC-KR','EUC-KR'),
            )),
        array('Hosting Com','name="host_name"',$this['record']->host_name,'radoiButton',array(
                array('cafe24','카페24'),
                array('makeshop','메이크샵'),
                array('godo','고도몰'),
                array('wisa','위사'),
                array('etc','기타'),
            )),
        array('Language','name="app_lang[]"',$this['record']->app_lang,'checkBox',array(
                array('ko','한국어',strpos($this['record']->app_lang,'ko') || $this['record']->app_lang == 'ko' ? "checked" : ""),
                array('en','영어',strpos($this['record']->app_lang,'en') || $this['record']->app_lang == 'en' ? "checked" : ""),
                array('zh','중국어',strpos($this['record']->app_lang,'zh') || $this['record']->app_lang == 'zh' ? "checked" : ""),
                array('tw','대만어',strpos($this['record']->app_lang,'tw') || $this['record']->app_lang == 'tw' ? "checked" : ""),
                array('ja','일본어',strpos($this['record']->app_lang,'ja') || $this['record']->app_lang == 'ja' ? "checked" : ""),
            )),
        array('고객센터','name="cscall"',$this['record']->cscall),
        array('카톡연락처','name="kakaocell"',$this['record']->kakaocell),
        array('페이스북','name="sns1"',$this['record']->sns1),
        array('트위터','name="sns2"',$this['record']->sns2),
        array('추천메시지','name="smsg"',$this['record']->smsg),
        array('팀메뉴커스텀','name="tabcustom"',$this['record']->tabcustom),
        array('자동로그인','name="auto_login"',$this['record']->auto_login,'checkBox',array(
                array('Y','자동로그인 허용',$this['record']->auto_login == 'Y' ? "checked" : "")
            )),
        array('출석체크','name="login_point"',$this['record']->login_point,'checkBox',array(
                array('Y','출석체크 포인트 서비스 허용',$this['record']->login_point == 'Y' ? "checked" : "")
            )),
    );
    
    /*
    $this['itemlist'] = array(
      "Process", "RESELLER ID", "등록일", "주문번호", "회원 ID", "App. ID", "Service Type", "App. OS", "App. Display", "Byapps Ver.", "App. Name", "Android Version",
      "iOS Version", "App. Category", "App. Icon", "Group", "GCM Key", "GCM Number", "Google App ID", "APNS Cert.", "APNS Pass.", "PUSH SERVER", "PUSH TOKEN",
      "Period of Use", "Android URL", "iOS URL", "Mobile URL", "PackageName(Android)", "Bundle ID(iOS)", "Vender", "Hash Key", "iOS Hash", "Cafe24 Mall ID",
      "Charset", "Hosting Com.", "Language", "고객센터", "카톡연락처", "페이스북", "트위터", "추천메세지", "탭메뉴커스텀", "자동로그인", "출석체크", "푸쉬체크", "앱설치포인트",
      "앱포인트 수동전환", "장바구니 리마인드", "유료 부가서비스", "푸쉬메세지 설정", "디바이스허용", "앱사용자 관리", "잠금화면", "추천리워드", "팝업푸쉬", "푸쉬리시브콜백",
      "FCM 적용", "스크립트설치", "안드로이드 자체개발계정", "SDK/커스텀유무", "관리업체지정");
    */
}
?>
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3>앱 관리</h3>
                  <small>앱 등록 등의 관리를 하실 수 있습니다</small>
            </div>
        </div>
    </div>
</div>

<div class="container">

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

    <div class="alert alert-info">
    {% if record %}
       <!--  <h4>Row modifier class included</h4> -->
        <p>
           {{ attribute(record, displayColumn) }}
        </p>

    {% else %}
        {{ notFoundMessage }}
    {% endif %}
   </div>

    <hr />

    <div class="method">
        <div class="row margin-0">
          <form>
          
            {% for item in itemlist %}
                {% if item.3 == 'selectBox' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">{{ item.0 }}</label>
                        <div class="col-sm-4">
                        <select {{ item.1 }} class="form-control">
                            {% for option in item.4 %}
                                <option value="{{ option.0 }}" {{ item.2 == option.0 ? "selected" : "" }} >{{ option.1 }}</option>
                            {% endfor %}
                        </select>
                      </div>
                    </div>
                {% elseif item.3 == 'radoiButton' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">{{ item.0 }}</label>
                        <div class="col-sm-4">
                        {% for option in item.4 %}
                            <label><input type="radio" {{ item.1 }} value="{{ option.0 }}" {{ item.2 == option.0 ? "checked" : "" }}>{{ option.1 }}</label>
                        {% endfor %}
                      </div>
                    </div>
                {% elseif item.3 == 'checkBox' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">{{ item.0 }}</label>
                        <div class="col-sm-4">
                        {% for option in item.4 %}
                            <label><input type="checkbox" {{ item.1 }} {{ option.2 }} value="{{ option.0 }}">{{ option.1 }}</label>
                        {% endfor %}
                      </div>
                    </div>
                {% elseif item.0 == 'URL' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">URL</label>
                        <div class="col-sm-4">
                        <ul>
                            <li><a href="{{ record.app_android_url }}" target="_sub"><input type="button" value="안드로이드"></a></li>
                            <li><a href="{{ record.app_ios_url }}" target="_sub"><input type="button" value="IOS"></a></li>
                            <li><a href="{{ record.surl }}" target="_sub"><input type="button" value="모바일 웹"></a></li>
                            <li><a onclick="alert('수정')"><input type="button" value="수정"></a></li>
                        </ul>
                      </div>
                    </div>
                {% elseif item.5 %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">Android Version</label>
                        <div class="col-sm-4">
                        <input type="text" {{ item.1 }} class="form-control" value="{{ item.2 }}">
                        {{ item.5 }}<input type="text" {{ item.3 }} class="form-control" value="{{ item.4 == "empty" ? "" : item.4 }}">
                      </div>
                    </div>
                {% else %}
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{ item.0 }}</label>
                      <div class="col-sm-4">
                        <input type="text" {{ item.1 }} class="form-control" value="{{ item.2 }}">
                      </div>
                    </div>
                {% endif %}
            {% endfor %}
            
          </form>

        </div>
    </div>

</div>