title = "앱 상세"
url = "/apps/data/:idx"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails]
modelClass = "Jiwon\Byapps\Models\AppsData"
identifierValue = "{{ :idx }}"
modelKeyColumn = "idx"
displayColumn = "app_name"
notFoundMessage = "Record not found"

[session]
security = "user"
allowedUserGroups[] = "admin_level_2"
redirect = "permission"
==
<?php
use Jiwon\Byapps\Models\AppsData;

function onStart()
{
    $this['record'] = AppsData::where('idx', '=', $this->param('idx'))->first();

    $this['itemlist'] = array(
        array('Process'),
        array('RESELLER ID','disabled',$this['record']->recom_id),
        array('등록일','disabled',$this['record']->start_time),
        array('주문번호','disabled',$this['record']->order_id),
        array('회원ID','name="mem_id"',$this['record']->mem_id),
        array('App ID','disabled',$this['record']->app_id),
        array('Service Type'),
        array('App OS'),
        array('App Display','name="o_idx"',$this['record']->o_idx),
        array('App Name','name="app_name"',$this['record']->app_name),
        array('Byapps Ver','name="byapps_ver"',$this['record']->byapps_ver),
        array('Android Version','name="app_ver"',$this['record']->app_ver,'name="app_build"',$this['record']->app_build != "" ? $this['record']->app_build : "empty",'build:'),
        array('Ios Version','name="app_ver_ios"',$this['record']->app_ver_ios,'name="app_build_ios"',$this['record']->app_build_ios != "" ? $this['record']->app_build_ios : "empty",'build:'),
        array('App Category'),
        array('Server Group','disabled',$this['record']->server_group." 그룹"),
        array('GCM Key','name="noti_gcm"',$this['record']->noti_gcm),
        array('GCM Number','name="noti_gcm_num"',$this['record']->noti_gcm_num),
        array('Google App ID','name="noti_fcm_num"',$this['record']->noti_fcm_num),
        array('APNS Pass'),
        array('PUSH SERVER'),
        array('PUSH TOKEN','name="push_token"',$this['record']->push_token),
        array('Period of Use','disabled',"start_date",'name="end_date"','end_date','~'),
        array('URL'),
        array('PackageName(Android)','name="packagename" placeholder= 안드로이드_패키지명이_변경되었을때 ',$this['record']->packagename),
        array('Bundle ID(iOS)','name="bundleid" placeholder= 안드로이드_패키지명과_다를때_입력(아이폰_앱빌드옹) ',$this['record']->bundleid),
        array('Vender','name="vender" placeholder= 안드로이드_무결성_검증(ex:com.android.vending) ',$this['record']->vender),
        array('Hash Key','name="hashkey placeholder= 안드로이드_무결성_검증',$this['record']->hashkey),
        array('iOS Hash	','name="ioshack" placeholder= IOS_무결성_검증',$this['record']->ioshack),
        array('Cafe24 Mall ID','name="host_id"',$this['record']->host_id),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
        array('','name="noti_gcm"',$this['record']->noti_gcm),
    );
    
    /*
    $this['itemlist'] = array(
      "Process", "RESELLER ID", "등록일", "주문번호", "회원 ID", "App. ID", "Service Type", "App. OS", "App. Display", "Byapps Ver.", "App. Name", "Android Version",
      "iOS Version", "App. Category", "App. Icon", "Group", "GCM Key", "GCM Number", "Google App ID", "APNS Cert.", "APNS Pass.", "PUSH SERVER", "PUSH TOKEN",
      "Period of Use", "Android URL", "iOS URL", "Mobile URL", "PackageName(Android)", "Bundle ID(iOS)", "Vender", "Hash Key", "iOS Hash", "Cafe24 Mall ID",
      "Charset", "Hosting Com.", "Language", "고객센터", "카톡연락처", "페이스북", "트위터", "추천메세지", "탭메뉴커스텀", "자동로그인", "출석체크", "푸쉬체크", "앱설치포인트",
      "앱포인트 수동전환", "장바구니 리마인드", "유료 부가서비스", "푸쉬메세지 설정", "디바이스허용", "앱사용자 관리", "잠금화면", "추천리워드", "팝업푸쉬", "푸쉬리시브콜백",
      "FCM 적용", "스크립트설치", "안드로이드 자체개발계정", "SDK/커스텀유무", "관리업체지정");
    */
}
?>
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3>앱 관리</h3>
                  <small>앱 등록 등의 관리를 하실 수 있습니다</small>
            </div>
        </div>
    </div>
</div>

<div class="container">

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

    <div class="alert alert-info">
    {% if record %}
       <!--  <h4>Row modifier class included</h4> -->
        <p>
           {{ attribute(record, displayColumn) }}
        </p>

    {% else %}
        {{ notFoundMessage }}
    {% endif %}
   </div>

    <hr />

    <div class="method">
        <div class="row margin-0">
          <form>
          
            {% for item in itemlist %}
                {% if item.0 == 'Process' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">Process</label>
                        <div class="col-sm-4">
                        <select name="app_process" class="form-control">
                            <option value="">선택해주세요</option>
                            <option value="1" {{ record.app_process == 1 ? "selected" : "" }} >개발준비중</option>
                            <option value="2" {{ record.app_process == 2 ? "selected" : "" }} >개발진행중</option>
                            <option value="3" {{ record.app_process == 3 ? "selected" : "" }} >심사중</option>
                            <option value="4" {{ record.app_process == 4 ? "selected" : "" }} >등록거부</option>
                            <option value="5" {{ record.app_process == 5 ? "selected" : "" }} >재심사중</option>
                            <option value="6" {{ record.app_process == 6 ? "selected" : "" }} >등록대기</option>
                            <option value="7" {{ record.app_process == 7 ? "selected" : "" }} >등록완료</option>
                            <option value="8" {{ record.app_process == 8 ? "selected" : "" }} >서비스중지</option>
                            <option value="10" {{ record.app_process == 10 ? "selected" : "" }} >서비스유효</option>
                        </select>
                      </div>
                    </div>
                {% elseif item.0 == 'Service Type' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">Service Type</label>
                        <div class="col-sm-4">
                        <label><input type="radio" name="service_type" value="biz" {{ record.service_type == "biz" ? "checked" : "" }}>일반</label>
                        <label><input type="radio" name="service_type" value="lite" {{ record.service_type == "lite" ? "checked" : "" }}>라이트</label>
                        <label><input type="radio" name="service_type" value="tester" {{ record.service_type == tester ? "checked" : "" }}>테스터</label>
                      </div>
                    </div>
                {% elseif item.0 == 'App OS' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">app OS</label>
                        <div class="col-sm-4">
                        <label><input type="radio" name="service_type" value="biz" value="안드로이드" {{ record.apps_type == "안드로이드" ? "checked" : "" }}>안드로이드</label>
                        <label><input type="radio" name="service_type" value="lite" value="안드로이드+iOS" {{ record.apps_type == "안드로이드+iOS" ? "checked" : "" }}>안드로이드+ios</label>
                      </div>
                    </div>
                {% elseif item.0 == 'App Category' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">App Category</label>
                        <div class="col-sm-4">
                        <select name="app_process" class="form-control">
                            <option value="">선택해주세요</option>
                            <option value="01" {{ record.app_cate == "01" ? "selected" : "" }}>패션/의류</option>
                            <option value="06" {{ record.app_cate == "06" ? "selected" : "" }}>화장품/뷰티</option>
                            <option value="07" {{ record.app_cate == "07" ? "selected" : "" }}>아동/유아</option>
                            <option value="02" {{ record.app_cate == "02" ? "selected" : "" }}>스포츠/레져</option>
                            <option value="03" {{ record.app_cate == "03" ? "selected" : "" }}>건강/농수산물</option>
                            <option value="04" {{ record.app_cate == "04" ? "selected" : "" }}>가전/가구</option>
                            <option value="05" {{ record.app_cate == "05" ? "selected" : "" }}>기타</option>
                        </select>
                      </div>
                    </div>
                {% elseif item.0 == 'PUSH SERVER' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">PUSH SERVER</label>
                        <div class="col-sm-4">
                        <select name="push_server" class="form-control">
                            <option value="default">default</option>
                            <option value="http://byapps.cafe24app.com/" {{ record.push_server == 'http://byapps.cafe24app.com/' ? "selected" : "" }}>http://byapps.cafe24app.com/</option>
                            <option value="http://push1.cafe24app.com/" {{ record.push_server == 'http://push1.cafe24app.com/' ? "selected" : "" }}>http://push1.cafe24app.com/</option>
                            <option value="http://byappspush2.cafe24app.com/" {{ record.push_server == 'http://byappspush2.cafe24app.com/' ? "selected" : "" }}>http://byappspush2.cafe24app.com/</option>
                            <option value="http://byappspush3.cafe24app.com/" {{ record.push_server == 'http://byappspush3.cafe24app.com/' ? "selected" : "" }}>http://byappspush3.cafe24app.com/</option>
                            <option value="http://byappspush4.cafe24app.com/" {{ record.push_server == 'http://byappspush4.cafe24app.com/' ? "selected" : "" }}>http://byappspush4.cafe24app.com/</option>
                        </select>
                      </div>
                    </div>
                {% elseif item.0 == 'URL' %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">URL</label>
                        <div class="col-sm-4">
                        <ul>
                            <li><a href="{{ record.app_android_url }}" target="_sub"><input type="button" value="안드로이드"></a></li>
                            <li><a href="{{ record.app_ios_url }}" target="_sub"><input type="button" value="IOS"></a></li>
                            <li><a href="{{ record.surl }}" target="_sub"><input type="button" value="모바일 웹"></a></li>
                            <li><a onclick="alert('수정')"><input type="button" value="수정"></a></li>
                        </ul>
                      </div>
                    </div>
                {% elseif item.5 %}
                    <div class="form-group row">
                      <label for="process" class="col-sm-2 col-form-label">Android Version</label>
                        <div class="col-sm-4">
                        <input type="text" {{ item.1 }} class="form-control" value="{{ item.2 }}">
                        {{ item.5 }}<input type="text" {{ item.3 }} class="form-control" value="{{ item.4 == "empty" ? "" : item.4 }}">
                      </div>
                    </div>
                {% else %}
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{ item.0 }}</label>
                      <div class="col-sm-4">
                        <input type="text" {{ item.1 }} class="form-control" value="{{ item.2 }}">
                      </div>
                    </div>
                {% endif %}
            {% endfor %}
            
          </form>

        </div>
    </div>

</div>