title = "앱 목록"
url = "/apps/list/:page"
layout = "default"
description = "앱 등록 등의 관리를 하실 수 있습니다"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList]
modelClass = "Jiwon\Byapps\Models\AppsData"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "app_name"
noRecordsMessage = "No records found"
detailsPage = "appData"
detailsKeyColumn = "idx"
detailsUrlParameter = "idx"
sortColumn = "idx"
sortDirection = "desc"

[session]
security = "user"
allowedUserGroups[] = "admin_level_1"
redirect = "permission"

[breadcrumbs]
main-ol-class = "breadcrumb"
active-class = "active"
disabled-class = "disabled"

[datatable]
tableName = "appsListTable"
==
<?php
use Jiwon\Byapps\Models\AppsData;

function onStart()
{
    $this['records1'] = AppsData::orderBy('idx','desc')
        ->limit(20)
        ->get();
}
?>
==
{% component 'breadcrumbs' %}

<style>

.dataTables_wrapper .dataTables_scroll {
  width:100%;
}
</style>

<div class="container col-12 col-md-12">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

 <div class="method">
   <div class="col-md-12 margin-5">

    <table id="appsListTable" class="table table-striped mb-3" style="width:100%;">
        <thead>
            <tr>
                <th>앱 아이디</th>
                <th>앱명</th>
                <th>버전</th>
                <th>BV</th>
                <th>등록상태</th>
                <th>SCRIPT</th>
                <th>커스텀</th>
                <th>신청OS</th>
                <th>서비스기간</th>
            </tr>
        </thead>

        <tbody>
         {% for record in records %}
            <tr>
                <td>{{ record.app_id }}</td>
                <td>
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ attribute(record, displayColumn) }}

                {% if detailsPage %}
                    </a>
                {% endif %}
                </td>
                <td>{{ record.app_ver }}</td>
                <td>{{ record.byapps_ver }}</td>
              <!--   <td>{{ record.server_group }}</td> -->
                <td>{{ record.app_process }}</td>
                <td>{{ record.app_build }}</td>
                <td>커스텀</td>
                <td>{{ record.app_os_type == 'both' ? 'and+ios' : record.app_os_type }}</td>
                <td>서비스기간</td>

                <!-- <td>{{ func.dateFormat(record.reg_time) }}</td> -->
            </tr>

         {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
        {% endfor %}
        </tbody>
    </table>
    
  </div>
</div>


<!-- {% set paginationEnabled =
    records.currentPage > 1 or
    records.lastPage > 1 or
    records.lastPage > records.currentPage
%}

{% if paginationEnabled %}
    {# How many pages to display around the current page #}
    {% set n = 2 %}

    {% set currentPageZeroBased = records.currentPage-1 %}

    {% set pageLinks = [] %}
    {% set pageSet = [] %}

    {% set startOffset = max(currentPageZeroBased - n, 0) %}
    {% if (startOffset + 2*n+1) > (records.lastPage-1) %}
        {% set startOffset = max(records.lastPage - 2*n - 1, 0) %}
    {% endif %}

    {% for page in 1..records.lastPage %}
        {% set pageLinks = pageLinks|merge([page]) %}
    {% endfor %}

    {% set activeBlock = pageLinks|slice(startOffset, 2*n + 1) %}

    {% if startOffset > 0 %}
        {% set pageSet = pageSet|merge([1]) %}

        {% if startOffset > 1 %}
            {% set pageSet = pageSet|merge(['...']) %}
        {% endif %}
    {% endif %}

    {% set pageSet = pageSet|merge(activeBlock) %}

    {% set diffToEnd = (records.lastPage-1) - (startOffset + 2*n+1) + 1 %}

    {% if diffToEnd > 0 %}
        {% if diffToEnd > 1 %}
            {% set pageSet = pageSet|merge(['...']) %}
        {% endif %}

        {% set pageSet = pageSet|merge([records.lastPage]) %}
    {% endif %}

    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li>
                <a href="{{ paginationUrl ~ (records.currentPage - 1) }}">
                    &larr; Previous
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    &larr; Previous
                </span>
            </li>
        {% endif %}

        {% for page in pageSet %}
            {% if page == '...' %}
                <li class="interval">
                    <a>{{ page }}</a>
                </li>
            {% else %}
                <li class="{{ page == records.currentPage ? 'active' }}">
                    <a href="{{ paginationUrl ~ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li>
                <a href="{{ paginationUrl ~ (records.currentPage + 1) }}">
                    Next &rarr;
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    Next &rarr;
                </span>
            </li>
        {% endif %}
    </ul>
{% endif %} -->

{% component 'datatable' %}