title = "Home"
url = "/"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[session]
security = "user"
allowedUserGroups[] = "admin_level_3"
allowedUserGroups[] = "admin_level_2"
allowedUserGroups[] = "admin_level_1"
redirect = "login"

[chartData]

[expiredData]
==
<?php
use Jiwon\Byapps\Models\HomeLayout;
use Jiwon\Byapps\Models\AppsData;
use Jiwon\Byapps\Models\AppsOrderData;
use Jiwon\Byapps\Models\AppendixOrderData;
use Jiwon\Byapps\Models\MaData;
use Jiwon\Byapps\Models\UpdateData;
use Jiwon\Byapps\Models\QnaNonmember;
use Jiwon\Byapps\Models\QnaMember;

function onStart()
{
    $userId = BackendAuth::getUser()['id'];
    $this['nowDate'] = date("Y-m-d");

    $records = HomeLayout::where('user_cd','=',$userId)
        ->select('layout_name')
        ->orderBy('sequence')
        ->get();

    if (count($records) == 0){
        $this['records'] = array('layout1','layout2','layout3');
    } else {
        $temp = array();
        foreach($records as $record){
            $temp[] = $record->layout_name;
        }
        $this['records'] = $temp;
    }

    $this['func'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };

    $this['func'] = new Class {
        public function calculateDday($date)
        {
           $todate = date("Y-m-d", time());
           $dday = intval((strtotime($todate) - strtotime($date)) / 86400);
           return $dday;
        }
    };

    /* 주문요청현황 */
    /*
    /* 주문(앱)접수 */
    $this['appsOrderCount'] = AppsOrderData::where('app_process', 1)->count();
    // $this['appsOrderCount'] = AppsOrderData::where('app_process', 1)->where('reg_time', '>=', time())->count();

    /* 부가서비스 접수 */
    $this['appendixOrderCount'] = AppendixOrderData::where('app_process', 1)->count();
    // $this['appendixOrderCount'] = AppendixOrderData::where('app_process', 1)->where('reg_time', '>=', time())->count();

    /* 업데이트 접수 */
    // original query: select sum(case when update_process='1' then 1 else 0 end) order_no, sum(case when update_process='2' then 1 else 0 end) confirm_no,  sum(case when update_process='3' then 1 else 0 end) app_no
    // from BYAPPS2015_apps_update_data where (update_process='1' or update_process='2' or update_process='3') and reg_time>='".$search_time."'
    $this['updateCount'] = UpdateData::where('app_process', 1)->count();
    // $this['updateCount'] = UpdateData::where('app_process', 1)->where('reg_time', '>=', time())->count();

    $this['nonmemberCount'] = QnaNonmember::where('process', 1)->count();
    $this['memberCount'] = QnaMember::where('process', 1)->count();
}

function onLayoutChange()
{
    $userId = BackendAuth::getUser()['id'];
    $params = Input::all();
    foreach($params as $key => $value){
        unset($data);
        $temp = HomeLayout::where('user_cd','=',$userId)
            ->where('layout_name','=',$key)
            ->count();
        $data['sequence'] = $value;
        if($temp == 0){
            $data['layout_name'] = $key;
            $data['user_cd'] = $userId;
            HomeLayout::insert($data);
        }else{
            HomeLayout::where('user_cd','=',$userId)->where('layout_name','=',$key)->update($data);
        }
    }
}

?>
==
<style>
.input-group-text {
  font-size: 11px;
}

</style>

{% component 'session' %}
<div class="container-fluid">
{% if not user %}
<h2><center>로그인하는페이지</center></h2>
{% elseif user %}


<div class="sortable">
  {% for record in records %}
      {% if record == 'layout1' %}
        <li class="ui-state-default one card" id="layout1">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    <i class="fi-menu"></i> 주문요청현황
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#salesList" aria-expanded="true" aria-controls="salesList">
                      <i class="dripicons-chevron-down"></i>
                    </button>
                </div>
            </div>

            <div class="row dragbox collapse show" id="salesList">

                    <div class="col-xl-3 col-md-6 list">
                        <div class="card widget-box-two widget-two-purple">
                            <div class="card-body">
                                <i class="mdi mdi-chart-line widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-uppercase text-white font-600 font-secondary text-overflow" title="Statistics">
                                      주문접수
                                    </p>
                                    <h2 class="text-white">
                                      <span data-plugin="counterup">{{ appsOrderCount }}</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0">어제보다 <b>10%</b> 늘었어요</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-md-6 list">
                        <div class="card widget-box-two widget-two-info list">
                            <div class="card-body">
                                <i class="mdi mdi-access-point-network widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-white text-uppercase font-600 font-secondary text-overflow" title="User Today">
                                      부가서비스 접수
                                    </p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{ appendixOrderCount }}</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0">어제보다 <b>5.6%</b> 줄었어요</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                      <div class="col-xl-3 col-md-6 list">
                        <div class="card widget-box-two widget-two-pink">
                            <div class="card-body">
                                <i class="mdi mdi-timetable widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-uppercase text-white font-600 font-secondary text-overflow" title="Request Per Minute">
                                      업데이트 접수
                                    </p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{ updateCount }}</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0">어제보다 <b>7.02%</b> 늘었어요</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6 list">
                        <div class="card widget-box-two widget-two-success">
                            <div class="card-body">
                                <i class="mdi mdi-cloud-download widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-white text-uppercase font-600 font-secondary text-overflow" title="New Downloads">
                                      New Downloads
                                    </p>
                                    <h2 class="text-white"><span data-plugin="counterup">854</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0"><b>9.9%</b> From previous period</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                <!-- <div class="c_box_1" id="take_order">
                    <div class="circle1">
                        <p class="vertical_center"><span data-plugin="counterup">{{ maCount }}</span></p>
                        <p class="c_box_1_font">주문접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <h5 class="vertical_center">{{ asCount }}</h5>
                        <p class="c_box_1_font">부가서비스 접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <h5 class="vertical_center">{{ updateCount }}</h5>
                        <p class="c_box_1_font">업데이트 접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">{{ nonmemberCount }}</p>
                        <p class="c_box_1_font">비회원 문의</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">{{ memberCount }}</p>
                        <p class="c_box_1_font">회원 문의</p>
                    </div>
                </div> -->
            </div>
        </li>
      {% elseif record == 'layout2' %}
        <li class="ui-state-default card" id="layout2">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    <i class="fi-menu"></i> 통계
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#allLank" aria-expanded="true" aria-controls="allLank">
                      <i class="dripicons-chevron-down"></i>
                    </button>
                </div>
            </div>

            <!-- 기간조회 -->
            <div class="card-title">
              <div class="row justify-content-md-center mb-5">

      					<div class="col-md-9">
      						<div class="input-group">
      							<div class="input-group-prepend">
      								<span class="input-group-text">통계기간</span>
      							</div>
      							<input type="text" id="start_date" name="start_date" value="" maxlength="10" class="form-control datepicker" placeholder="날짜입력" autocomplete="false">
      							<div class="input-group-append">
                      <span class="input-group-text">부터</span>
      							</div>
      							<input type="text" id="end_date" name="end_date" value="" maxlength="10" class="form-control datepicker" placeholder="날짜입력" autocomplete="false">
      							<div class="input-group-append">
      								<span class="input-group-text">까지</span>
      							</div>
      							<div class="input-group-append">
                      <span class="input-group-text">
      								  <a href="javascript:void(0)" onclick="stat_searchDateTerm(7)">일주일</a>
                      </span>
      							</div>
      							<div class="input-group-append">
                      <span class="input-group-text">
      								  <a href="javascript:void(0)" onclick="stat_searchDateTerm(30)">1개월</a>
                      </span>
      							</div>
      							<div class="input-group-append">
                      <span class="input-group-text">
      								  <a href="javascript:void(0)" onclick="stat_searchDateTerm(90)">3개월</a>
                      </span>
      							</div>
      							<div class="input-group-append">
                      <span class="input-group-text">
      								  <a href="javascript:void(0)" onclick="stat_searchDateTerm(180)">6개월</a>
                      </span>
      							</div>
      							<div class="input-group-append">
                      <span class="input-group-text">
      								  <a href="javascript:void(0)" onclick="WA_searchDate()"><i class="entypo-chart-bar"></i> 보기</a>
                      </span>
      							</div>
      						</div>
      					</div>

              </div>
				    </div>
            <!-- 기간조회 End -->

            <div class="dragbox_hover row collapse show" id="allLank">
                <!-- 앱 통계 차트 -->
                <div class="col-xs-12 col-md-3">
                  <div align="center">
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="app_stats_daily()">일간</button>
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs">주간</button>
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs">월간</button>
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="app_stats_total()">전체</button>
                  </div>
                  <div id="app_stats"></div>
                </div>
                <!-- MA 통계 차트 -->
                <div class="col-xs-12 col-md-3">
                    <div align="center">
                      <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="ma_stats_daily()">일간</button>
                      <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs">주간</button>
                      <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs">월간</button>
                      <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="ma_stats_total()">전체</button>
                    </div>
                    <div id="ma_stats"></div>
                </div>

                <!-- 매출 통계 차트 -->
                <div class="col-xs-12 col-md-6 pl-0 pr-5">
                  <div align="center">
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="sales_stats_daily()">일간</button>
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs">주간</button>
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs">월간</button>
                    <button class="btn btn-light btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="sales_stats_total()">전체</button>
                  </div>
                    <div id="sale_stats" data-toggle="modal" data-target="#lankDetail"></div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="lankDetail" tabindex="-1" role="dialog" aria-labelledby="lankDetail" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">기간별 상세 통계</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      </div>
                      <div class="modal-body">
                          <form>
                              <input type="date" >~
                              <input type="date" >
                              <button type="button" class="btn btn-secondary mx-auto">조회</button>
                          </form>
                          <div id="chartDetail">

                          </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">확인</button>
                      </div>
                  </div>
                </div>
            </div>
            <!-- Modal End -->
        </li>
      {% elseif record == 'layout3' %}

        <li class="ui-state-default one card" id="layout3">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    <i class="fi-menu"></i> 만료예정업체
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#endList" aria-expanded="true" aria-controls="endList">
                      <i class="dripicons-chevron-down"></i>
                    </button>
                </div>
            </div>

            <div class="dragbox collapse show" id="endList">
                <ul class="nav nav-tabs" id="tab-depth1" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="ios-tab" data-toggle="tab" href="#ios" role="tab" aria-controls="ios" aria-selected="true">
                      IOS 계정 만료</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="push-tab" data-toggle="tab" href="#push" role="tab" aria-controls="push" aria-selected="false">
                      푸쉬 인증서만료</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="ma-tab" data-toggle="tab" href="#ma" role="tab" aria-controls="ma" aria-selected="false">
                      MA 서비스만료</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="apps-tab" data-toggle="tab" href="#apps" role="tab" aria-controls="apps" aria-selected="false">
                      앱서비스 만료예정</a>
                  </li>
                </ul>
                <div class="tab-content" id="tab-depth1-content">
                  <!-- 탭1 -->
                  <div class="tab-pane fade show active" id="ios" role="tabpanel" aria-labelledby="ios-tab">
                    <ul class="nav nav-tabs" id="tab-depth2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="ios-over-tab" data-toggle="tab" href="#ios-over" role="tab" aria-controls="ios-over" aria-selected="true">
                          IOS 만료</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="ios-stay-tab" data-toggle="tab" href="#ios-stay" role="tab" aria-controls="ios-stay" aria-selected="false">
                          IOS 만료예정</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="tab-depth2-content">
                      <div class="tab-pane fade show active" id="ios-over" role="tabpanel" aria-labelledby="ios-over-tab">
                        <!-- 탭1-1 -->
                        {% for iosData in expiredIos %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ iosData.app_name }}<br>
                                    {{ iosData.ios_dev_exp }}
                                    <span class="badge badge-pink">D +{{ func.calculateDday(iosData.ios_dev_exp) }}</span>
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="ios-stay" role="tabpanel" aria-labelledby="ios-stay-tab">
                        <!-- 탭1-2 -->
                        {% for iosData in willBeExpiredIos %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ iosData.app_name }}<br>
                                    {{ iosData.ios_dev_exp }}
                                    <span class="badge badge-info">D {{ func.calculateDday(iosData.ios_dev_exp) }}</span>
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!-- 탭1 End -->

                  <!-- 탭2 -->
                  <div class="tab-pane fade" id="push" role="tabpanel" aria-labelledby="push-tab">
                    <ul class="nav nav-tabs" id="tab-depth2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="push-over-tab" data-toggle="tab" href="#push-over" role="tab" aria-controls="push-over" aria-selected="true">
                          PUSH 인증서 만료</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="push-stay-tab" data-toggle="tab" href="#push-stay" role="tab" aria-controls="push-stay" aria-selected="false">
                          PUSH 인증서 만료예정</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="tab-depth2-content">
                      <div class="tab-pane fade show active" id="push-over" role="tabpanel" aria-labelledby="push-over-tab">
                        <!-- 탭2-1 -->
                        {% for pushData in expiredPush %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ pushData.app_name }}<br>
                                    {{ pushData.ios_cer_exp }}
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="push-stay" role="tabpanel" aria-labelledby="push-stay-tab">
                        <!-- 탭2-2 -->
                        {% for pushData in willBeExpiredPush %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ pushData.app_name }}<br>
                                    {{ pushData.ios_cer_exp }}
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!-- 탭2 End -->

                  <!-- 탭3 -->
                  <div class="tab-pane fade" id="ma" role="tabpanel" aria-labelledby="ma-tab">
                    <ul class="nav nav-tabs" id="tab-depth2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="ma-over-tab" data-toggle="tab" href="#ma-over" role="tab" aria-controls="ma-over" aria-selected="true">
                          MA 인증서 만료</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="ma-stay-tab" data-toggle="tab" href="#ma-stay" role="tab" aria-controls="ma-stay" aria-selected="false">
                          MA 인증서 만료예정</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="tab-depth2-content">
                      <div class="tab-pane fade show active" id="ma-over" role="tabpanel" aria-labelledby="ma-over-tab">
                        <!-- 탭3-1 -->
                        {% for maData in expiredMA %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ maData.app_name }}<br>
                                    {{ func.dateFormat(maData.end_time) }}
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="ma-stay" role="tabpanel" aria-labelledby="ma-stay-tab">
                        <!-- 탭3-2 -->
                        {% for maData in willBeExpiredMA %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ maData.app_name }}<br>
                                    {{ func.dateFormat(maData.end_time) }}
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!-- 탭3 End -->

                  <!-- 탭4 -->
                  <div class="tab-pane fade" id="apps" role="tabpanel" aria-labelledby="apps-tab">
                    <ul class="nav nav-tabs" id="tab-depth2" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="apps-over-tab" data-toggle="tab" href="#apps-over" role="tab" aria-controls="apps-over" aria-selected="true">
                          앱서비스 만료</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="apps-stay-tab" data-toggle="tab" href="#apps-stay" role="tab" aria-controls="apps-stay" aria-selected="false">
                          앱서비스 만료예정</a>
                      </li>
                    </ul>
                    <div class="tab-content" id="tab-depth2-content">
                      <div class="tab-pane fade show active" id="apps-over" role="tabpanel" aria-labelledby="apps-over-tab">
                        <!-- 탭4-1 -->
                        {% for appsData in expiredApps %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ appsData.app_name }}<br>
                                    {{ func.dateFormat(appsData.end_time) }}
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                      <div class="tab-pane fade" id="apps-stay" role="tabpanel" aria-labelledby="apps-stay-tab">
                        <!-- 탭4-2 -->
                        {% for appsData in willBeExpiredApps %}
                            <div class="card col-xs-12 col-md-5 col-lg-2 m-1 p-0 d-inline-block">
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ appsData.app_name }}<br>
                                    {{ func.dateFormat(appsData.end_time) }}
                                </div>
                            </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                  <!-- 탭4 End -->

                </div>

            </div>
        </li>
      {% endif %}
  {% endfor %}
  </div>

<!-- Pages -->


{% endif %}

</div>
