title = "Home"
url = "/"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[session]
security = "user"
allowedUserGroups[] = "admin_level_3"
allowedUserGroups[] = "admin_level_2"
allowedUserGroups[] = "admin_level_1"
redirect = "login"
==
<?php

use Jiwon\Byapps\Models\HomeLayout;
use Jiwon\Byapps\Models\AppsData;
use Jiwon\Byapps\Models\PaymentData;
use Jiwon\Byapps\Models\AppsOrderData;
use Jiwon\Byapps\Models\AppendixOrderData;
use Jiwon\Byapps\Models\MaData;
use Jiwon\Byapps\Models\UpdateData;
use Jiwon\Byapps\Models\QnaNonmember;
use Jiwon\Byapps\Models\QnaMember;

function onStart()
{
    $userId = BackendAuth::getUser()['id'];
    $this['nowDate'] = time();
    $records = HomeLayout::where('user_cd','=',$userId)
        ->select('layout_name')
        ->orderBy('sequence')
        ->get();

    if (count($records) == 0){
        $this['records'] = array('layout1','layout2','layout3');
    } else {
        $temp = array();
        foreach($records as $record){
            $temp[] = $record->layout_name;
        }
        $this['records'] = $temp;
    }

    $this['appsData'] = AppsData::inRandomOrder()
        ->select('app_name')
        ->addSelect('app_icon')
        ->addSelect('end_time')
        ->limit(40)
        ->get();

    $this['func'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };

    /* 주문요청현황 */
    /*
    /* 주문(앱)접수 */
    $this['appsOrderCount'] = AppsOrderData::where('app_process', 1)->count();
    /* 부가서비스 접수 */
    $this['appendixOrderCount'] = AppendixOrderData::where('app_process', 1)->count();

    $this['maCount'] = MaData::where('app_process', 1)->count();
    $this['updateCount'] = UpdateData::where('app_process', 1)->count();
    $this['nonmemberCount'] = QnaNonmember::where('process', 1)->count();
    $this['memberCount'] = QnaMember::where('process', 1)->count();

}

/*
function onGetChartData()
{
  // 앱 통계 * 조건이 틀린 것 같음. 검토필요
  // 무료
  $this['appsFree'] = PaymentData::where('process', '1')
                      ->where('idx', '=', '')
                      ->orWhere('amount', '=', '0')
                      ->count();
  // 유료
  $this['appsPaid'] = PaymentData::where('process', '1')
                      ->where('amount', '>', '0')
                      ->count();

  // MA 통계
  // 무료 (조건 수정 필요)
  $this['maFree'] = MaData::where('app_process', '3')
                    ->where('end_time', '>', '0')
                    ->count();

  $result = array(
      'circle1' => array(
          array('무료', $this['appsFree']),
          array('유료', $this['appsPaid']),
          array('관리', 100),
      ),
      'circle2' => array(
          array('무료', $this['maFree']),
          array('유료', 152),
          array('관리', 100),
      ),
      'bar' => array(
          array('신규',223,200,100,120,250,210,102),
          array('연장',524,200,180,190,280,230,109),
          array('기타',85,300,100,120,110,111,130),
      ),
  );

  return $result;
}
*/

function onGetAppChartData()
{
  // 앱 통계 * 조건 검토필요
  // 무료
  // 결제금액이 없는 경우, 관리업체가 아닌 경우(is_cherrypicker != Y), 서비스중지가 아님
  $this['appsFree'] = PaymentData::where('pay_type', '!=', '1')
                      ->where('amount', '=', '0')
                      //->where('appProcess', '!=', '8')
                      ->count();
  // 유료
  // 연장(pay_type = 1), 신규, 결제금액이 있는 경우, 서비스중지가 아님
  $this['appsPaid'] = PaymentData::where('pay_type', '1')
                      ->where('amount', '>', '0')
                      ->count();

  // MA 통계
  // 무료 (조건 수정 필요)
  $this['maFree'] = MaData::where('app_process', '3')
                    ->where('end_time', '>', '0')
                    ->count();

  $result = array(
      'circle1' => array(
          array('무료', $this['appsFree']),
          array('유료', $this['appsPaid']),
          array('관리', 100),
      )
  );

  return $result;
}

function onGetMaChartData()
{
  $result = array(
    'circle2' => array(
        array('무료', $this['maFree']),
        array('유료', 152),
        array('관리', 100),
    )
  );

  return $result;
}

function onGetSalesChartData()
{
  $result = array(
    'bar' => array(
        array('신규',223,200,100,120,250,210,102),
        array('연장',524,200,180,190,280,230,109),
        array('기타',85,300,100,120,110,111,130),
    )
  );

  return $result;
}

function onGetDailyChartData()
{
  $result = array(
      'circle1' => array(
          array('무료', 300),
          array('유료', 200),
          array('관리', 100),
      )
  );

  return $result;
}


function onLayoutChange()
{
    $userId = BackendAuth::getUser()['id'];
    $params = Input::all();
    foreach($params as $key => $value){
        unset($data);
        $temp = HomeLayout::where('user_cd','=',$userId)
            ->where('layout_name','=',$key)
            ->count();
        $data['sequence'] = $value;
        if($temp == 0){
            $data['layout_name'] = $key;
            $data['user_cd'] = $userId;
            HomeLayout::insert($data);
        }else{
            HomeLayout::where('user_cd','=',$userId)->where('layout_name','=',$key)->update($data);
        }
    }
}
?>
==
{% component 'session' %}
<div class="container-fluid">
{% if not user %}
<h2><center>로그인하는페이지</center></h2>
{% elseif user %}




<div class="sortable">
  {% for record in records %}
      {% if record == 'layout1' %}
        <li class="ui-state-default one card" id="layout1">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    <i class="fi-menu"></i> 주문요청현황
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#salesList" aria-expanded="true" aria-controls="salesList">
                      <i class="dripicons-chevron-down"></i>
                    </button>
                </div>
            </div>


            <div class="row dragbox collapse show" id="salesList">
                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-two widget-two-purple">
                            <div class="card-body">
                                <i class="mdi mdi-chart-line widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-uppercase text-white font-600 font-secondary text-overflow" title="Statistics">
                                      주문접수
                                    </p>
                                    <h2 class="text-white">
                                      <span data-plugin="counterup">{{ appsOrderCount }}</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0">어제보다 <b>10%</b> 늘었어요</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-two widget-two-info">
                            <div class="card-body">
                                <i class="mdi mdi-access-point-network widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-white text-uppercase font-600 font-secondary text-overflow" title="User Today">
                                      부가서비스 접수
                                    </p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{ appendixOrderCount }}</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0">어제보다 <b>5.6%</b> 줄었어요</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                        <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-two widget-two-pink">
                            <div class="card-body">
                                <i class="mdi mdi-timetable widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-uppercase text-white font-600 font-secondary text-overflow" title="Request Per Minute">
                                      업데이트 접수
                                    </p>
                                    <h2 class="text-white"><span data-plugin="counterup">{{ updateCount }}</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0">어제보다 <b>7.02%</b> 늘었어요</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                    <div class="col-xl-3 col-md-6">
                        <div class="card widget-box-two widget-two-success">
                            <div class="card-body">
                                <i class="mdi mdi-cloud-download widget-two-icon"></i>
                                <div class="wigdet-two-content">
                                    <p class="m-0 text-white text-uppercase font-600 font-secondary text-overflow" title="New Downloads">
                                      New Downloads
                                    </p>
                                    <h2 class="text-white"><span data-plugin="counterup">854</span>
                                      <small><i class="mdi mdi-arrow-up text-white"></i></small>
                                    </h2>
                                    <p class="text-white m-0"><b>9.9%</b> From previous period</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- end col -->

                <!-- <div class="c_box_1" id="take_order">
                    <div class="circle1">
                        <p class="vertical_center"><span data-plugin="counterup">{{ maCount }}</span></p>
                        <p class="c_box_1_font">주문접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <h5 class="vertical_center">{{ asCount }}</h5>
                        <p class="c_box_1_font">부가서비스 접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <h5 class="vertical_center">{{ updateCount }}</h5>
                        <p class="c_box_1_font">업데이트 접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">{{ nonmemberCount }}</p>
                        <p class="c_box_1_font">비회원 문의</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">{{ memberCount }}</p>
                        <p class="c_box_1_font">회원 문의</p>
                    </div>
                </div> -->
            </div>
        </li>
      {% elseif record == 'layout2' %}
        <li class="ui-state-default card" id="layout2">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    <i class="fi-menu"></i> 통계
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#allLank" aria-expanded="true" aria-controls="allLank">
                      <i class="dripicons-chevron-down"></i>
                    </button>
                </div>
            </div>
            <div class="dragbox_hover row collapse show" id="allLank">
                <div class="col-xs-12 col-md-3">
                  <div align="center">
                    <button class="btn btn-custom btn-rounded btn-bordered waves-effect waves-light btn-xs" onclick="app_stats_daily()">일간</button>
                    <button class="btn btn-info btn-rounded btn-bordered waves-effect waves-light btn-xs">주간</button>
                    <button class="btn btn-primary btn-rounded btn-bordered waves-effect waves-light btn-xs">월간</button>
                  </div>
                  <div id="app_stats"></div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <!-- <h6 class="theme1 p-1 text-center">MA 통계</h6> -->
                    <div id="ma_stats"></div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h6 class="theme1 p-1 text-center">매출통계</h6>
                    <div id="sale_stats" data-toggle="modal" data-target="#lankDetail"></div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="lankDetail" tabindex="-1" role="dialog" aria-labelledby="lankDetail" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">기간별 상세 통계</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <input type="date" >~
                            <input type="date" >
                            <button type="button" class="btn btn-secondary mx-auto">조회</button>
                        </form>
                        <div id="chartDetail">

                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mx-auto" data-dismiss="modal">확인</button>
                    </div>
                </div>
                </div>
            </div>
        </li>
      {% elseif record == 'layout3' %}

        <li class="ui-state-default one card" id="layout3">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    <i class="fi-menu"></i> 만료예정업체
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#endList" aria-expanded="true" aria-controls="endList"><i class="dripicons-chevron-down"></i></button>
                </div>
            </div>

            <div class="dragbox collapse show" id="endList">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-ios-tab" data-toggle="tab" href="#nav-ios" role="tab" aria-controls="nav-ios" aria-selected="true">IOS 계정 만료</a>
                        <a class="nav-item nav-link" id="nav-push-tab" data-toggle="tab" href="#nav-push" role="tab" aria-controls="nav-push" aria-selected="false">푸쉬 인증서만료</a>
                        <a class="nav-item nav-link" id="nav-ma-tab" data-toggle="tab" href="#nav-ma" role="tab" aria-controls="nav-ma" aria-selected="false">MA 서비스만료</a>
                        <a class="nav-item nav-link" id="nav-ios2-tab" data-toggle="tab" href="#nav-app" role="tab" aria-controls="nav-ios2" aria-selected="true">앱서비스 만료예정</a>
                    </div>
                </nav>

                <div class="tab-content p-2" id="nav-tabContent">
                    <div class="tab-pane mx-0 row active" id="nav-ios" role="tabpanel" aria-labelledby="nav-ios-tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-ios-tab" data-toggle="tab" href="#ios-stay" role="tab" aria-controls="ios-stay" aria-selected="true">만료예정</a>
                                <a class="nav-item nav-link" id="nav-push-tab" data-toggle="tab" href="#ios-over" role="tab" aria-controls="ios-over" aria-selected="false">만료</a>
                            </div>
                        </nav>
                    {% for appData in appsData %}
                        <div class='card col-xs-12 col-md-5 col-lg-3 p-0 m-2 d-inline-block'>
                            <div class="tab-content p-2">
                                {{ appData.end_time < nowDate ? '<div class="tab-pane mx-0 row active" id="ios-stay" role="tabpanel" aria-labelledby="nav-ios-tab">' : '<div class="tab-pane mx-0 row active" id="ios-over" role="tabpanel" aria-labelledby="nav-ios-tab">' }}
                                <!-- <img class='p-2 d-inline-block float-left' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'> -->
                                <div class="mx-0 p-2 text-truncate" style="width:8rem;vertical-align:middle;">
                                    {{ appData.app_name }}
                                    <br>
                                    {{ func.dateFormat(appData.end_time) }}
                                </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade row" id="nav-push" role="tabpanel" aria-labelledby="nav-push-tab">
                    {% for appData in appsData %}
                        <div class='col-xs-12 col-md-2 p-0 d-inline-block {{ appData.end_time < nowDate ? "opacity" : "" }}'>
                            <!-- <img class='p-2 d-inline-block' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'> -->
                            <div class="col-md-8 mx-0 float-right pt-4">
                                {{ appData.app_name }}
                                <br>
                                {{ func.dateFormat(appData.end_time) }}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade row" id="nav-ma" role="tabpanel" aria-labelledby="nav-ma-tab">
                    {% for appData in appsData %}
                        <div class='col-xs-12 col-md-2 p-0 d-inline-block {{ appData.end_time < nowDate ? "opacity" : "" }}'>
                            <!-- <img class='p-2 d-inline-block' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'> -->
                            <div class="col-md-8 mx-0 float-right pt-4">
                                {{ appData.app_name }}
                                <br>
                                {{ func.dateFormat(appData.end_time) }}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                    <div class="tab-pane fade row" id="nav-app" role="tabpanel" aria-labelledby="nav-ma-tab">
                        {% for appData in appsData %}
                            <div class='col-xs-12 col-md-2 p-0 d-inline-block {{ appData.end_time < nowDate ? "opacity" : "" }}'>
                                <!-- <img class='p-2 d-inline-block' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'> -->
                                <div class="col-md-8 mx-0 float-right pt-4">
                                    {{ appData.app_name }}
                                    <br>
                                    {{ func.dateFormat(appData.end_time) }}
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                </div>
            </div>
        </li>
      {% endif %}
  {% endfor %}
</div>

<!-- Pages -->


{% endif %}

</div>
