title = "Home"
url = "/"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[session]
security = "user"
allowedUserGroups[] = "admin_level_3"
allowedUserGroups[] = "admin_level_2"
allowedUserGroups[] = "admin_level_1"
redirect = "login"
==
<?php
use Jiwon\Byapps\Models\HomeLayout;
use Jiwon\Byapps\Models\AppsData;

function onStart()
{
    $userId = BackendAuth::getUser()['id'];
    $this['nowDate'] = time();
    $recoreds = HomeLayout::where('user_cd','=',$userId)
        ->select('layout_name')
        ->orderBy('sequence')
        ->get();
    if(count($recoreds) == 0){
        $this['recoreds'] = array('layout1','layout2','layout3');
    }else{
        $temp = array();
        foreach($recoreds as $recored){
            $temp[] = $recored->layout_name;
        }
        $this['recoreds'] = $temp;
    }
    $this['appsData'] = AppsData::inRandomOrder()
        ->select('app_name')
        ->addSelect('app_icon')
        ->addSelect('end_time')
        ->limit(40)
        ->get();

    $this['func'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };
}
function onGetChartData()
{
    //샘플 데이터
    $result = array(
        'circle1' => array(
            array('무료',156),
            array('유료',350),
            array('관리',100),
        ),
        'circle2' => array(
            array('무료',134),
            array('유료',152),
            array('관리',100),
        ),
        'bar' => array(
            array('신규',223,200),
            array('연장',524,200),
            array('기타',85,300),
        ),
    );
    return $result;
}
function onLayoutChange()
{
    $userId = BackendAuth::getUser()['id'];
    $params = Input::all();
    foreach($params as $key => $value){
        unset($data);
        $temp = HomeLayout::where('user_cd','=',$userId)
            ->where('layout_name','=',$key)
            ->count();
        $data['sequence'] = $value;
        if($temp == 0){
            $data['layout_name'] = $key;
            $data['user_cd'] = $userId;
            HomeLayout::insert($data);
        }else{
            HomeLayout::where('user_cd','=',$userId)->where('layout_name','=',$key)->update($data);
        }
    }
}
?>
==
{% component 'session' %}
<div class="col" style="padding: 58px 50px;">
{% if not user %}
<h2><center>로그인하는페이지</center></h2>
{% elseif user %}
<div class="sortable">
  {% for record in recoreds %}
      {% if record == 'layout1' %}
        <li class="ui-state-default one card" id="layout1">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    주문요청현황
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#salesList" aria-expanded="true" aria-controls="salesList"><i class="fas fa-angle-down"></i></button>
                </div>               
            </div>
            <div class="dragbox collapse show" id="salesList">
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">10</p>
                        <p class="c_box_1_font">주문접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">10</p>
                        <p class="c_box_1_font">부가서비스접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">10</p>
                        <p class="c_box_1_font">업데이트 접수</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">10</p>
                        <p class="c_box_1_font">고객문의</p>
                    </div>
                </div>
                <div class="c_box_1">
                    <div class="circle1">
                        <p class="vertical_center">10</p>
                        <p class="c_box_1_font">1:1문의</p>
                    </div>
                </div>
            </div>
        </li>
      {% elseif record == 'layout2' %}
        <li class="ui-state-default card" id="layout2">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    통계
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#allLank" aria-expanded="true" aria-controls="allLank"><i class="fas fa-angle-down"></i></button>
                </div>               
            </div>
            <div class="dragbox_hover row collapse show" id="allLank">
                <div class="col-xs-12 col-md-3">
                    <h6 class="theme1 p-1">앱 통계</h6>
                    <div id="app_stats"></div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <h6 class="theme1 p-1">MA 통계</h6>
                    <div id="ma_stats"></div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <h6 class="theme1 p-1">매출통계</h6>
                    <div id="sale_stats"></div>
                </div>
            </div>

        </li>
      {% elseif record == 'layout3' %}

        <li class="ui-state-default one card" id="layout3">
            <div class="cal_box col-md-12 col-sm-12">
                <div class="card-title mt-2">
                    만료예정업체
                    <button class="btn float-right" type="button" data-toggle="collapse" data-target="#endList" aria-expanded="true" aria-controls="endList"><i class="fas fa-angle-down"></i></button>
                </div>               
            </div>
           
            <div class="dragbox collapse show" id="endList">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-ios-tab" data-toggle="tab" href="#nav-ios" role="tab" aria-controls="nav-ios" aria-selected="true">IOS 계정 만료</a>
                        <a class="nav-item nav-link" id="nav-push-tab" data-toggle="tab" href="#nav-push" role="tab" aria-controls="nav-push" aria-selected="false">푸쉬 인증서만료</a>
                        <a class="nav-item nav-link" id="nav-ma-tab" data-toggle="tab" href="#nav-ma" role="tab" aria-controls="nav-ma" aria-selected="false">MA 서비스만료</a>
                    </div>
                </nav>     
            
                <div class="tab-content p-2" id="nav-tabContent">  
                    <div class="tab-pane row active" id="nav-ios" role="tabpanel" aria-labelledby="nav-ios-tab">              
                    {% for appData in appsData %}     
                        <div class='col-xs-12 col-md-3 p-0 d-inline-block {{ appData.end_time < nowDate ? "opacity" : "" }}'>
                            <img class='p-2' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'>
                            <p>{{ func.dateFormat(appData.end_time) }}</p>
                        </div>                                
                    {% endfor %}    
                    </div>       
                    <div class="tab-pane fade row" id="nav-push" role="tabpanel" aria-labelledby="nav-push-tab">
                    {% for appData in appsData %}       
                        <div class='col-xs-12 col-md-3 p-0 d-inline-block {{ appData.end_time < nowDate ? "opacity" : "" }}'>
                            <img class='p-2' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'>
                            <p>{{ func.dateFormat(appData.end_time) }}</p>
                        </div>                       
                    {% endfor %} 
                    </div>           
                    <div class="tab-pane fade row" id="nav-ma" role="tabpanel" aria-labelledby="nav-ma-tab">  
                    {% for appData in appsData %}
                        <div class='col-xs-12 col-md-3 p-0 d-inline-block {{ appData.end_time < nowDate ? "opacity" : "" }}'>
                            <img class='p-2' src='http://byapps.co.kr/member/apps/{{ appData.app_icon }}' alt='{{ appData.app_name }}'>
                            <p>{{ func.dateFormat(appData.end_time) }}</p>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </li>
      {% endif %}
  {% endfor %}
</div>

<!-- Pages -->


{% endif %}

</div>
