title = "결제상세"
url = "/pay/detail/:idx"
layout = "default"
description = "결제 관리를 하실 수 있습니다"
is_hidden = 0
child_of = "payManage"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails]
modelClass = "Jiwon\Byapps\Models\PaymentData"
identifierValue = "{{ :idx }}"
modelKeyColumn = "idx"
displayColumn = "app_name"
notFoundMessage = "Record not found"

[session]
security = "user"
allowedUserGroups[] = "admin_level_2"
redirect = "permission"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[paymentForm]
==
<?php
use Jiwon\Byapps\Models\PaymentData;

function onStart()
{
    $this['record'] = PaymentData::where('idx', '=', $this->param('idx'))->first();
    //$this['records'] = PaymentData::orderBy('reg_time')->get();

    $this['itemlist'] = array("주문번호", "결제날짜", "회원ID", "App 명", "결제기간", "결제금액","결제정보" , "영수증정보");

    $this['func'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d h:i:s", $val);
           return $dateString;
        }
        public function dateFormatSimple($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };

    $this['arrPaytype'] = array(
      0 => '신규', 1 => '연장', 2 => '충전', 3 => '추가', 4=> '기타'
    );
}
?>
==
{% component 'breadcrumbs' %}

<div class="container">

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

    <div class="alert alert-info">
    {% if record %}
       <!--  <h4>Row modifier class included</h4> -->
        <h4>
          <strong>{{ attribute(record, displayColumn) }}</strong>
        </h4>

    {% else %}
        {{ notFoundMessage }}
    {% endif %}
  </div>

    <hr />

    <div class="method">
       <!--  <div class="row margin-0 list-header hidden-sm hidden-xs">
           <div class="col-md-3"><div class="header">주문번호</div></div>
       </div> -->

        <div class="row margin-0">

     {% component 'paymentForm' %}
        <!-- {{ form_ajax('onUpdate', { confirm: '진짜로?' }) }} -->
        <!-- <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   주문번호
                   </div>
               </div>
           </div>

           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                     {{ record.order_id }} <a href="#" title="삭제" class="btn_del"></a>
                   </div>
               </div>
           </div>
        </div>

        <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   결제날짜
                   </div>
               </div>
           </div>
           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                     {{ func.dateFormat(record.reg_time) }}
                   </div>
               </div>
           </div>
       </div>

       <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   회원ID
                   </div>
               </div>
           </div>

           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                     {{ record.mem_id }}
                     <input class="btn nbutton3 btn-xs" type="button" value="회원정보">
                     <input class="btn nbutton3 btn-xs" type="button" value="주문내역">
                     <input class="btn nbutton3 btn-xs" type="button" value="앱관리">
                   </div>
               </div>
           </div>
        </div>

        <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   App 명
                   </div>
               </div>
           </div>
           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                     {{ record.app_name }} ({{ record.apps_type }})
                   </div>

               </div>
           </div>
        </div>

        <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   결제기간
                   </div>
               </div>
           </div>
           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                    {% for key,val in arrPaytype %}
                       {{ key == record.pay_type ? val : "" }}
                    {% endfor %}
                   , {{ record.term }}일,  {{ func.dateFormatSimple(record.start_time) }} ~ {{ func.dateFormatSimple(record.end_time) }}
                   </div>

               </div>
           </div>
        </div>

        <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   결제금액
                   </div>
               </div>
           </div>
           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                   {{ record.amount | number_format(0, ',') }}원
                   <input class="btn btn-danger cbutton3 btn-xs" type="button" value="결제취소">
                   <input class="btn btn-danger cbutton3 btn-xs" type="button" value="무료처리">
                   </div>

               </div>
           </div>
        </div>

        <div class="row1">
           <div class="col-md-2 col-xs-4">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   결제정보
                   </div>
               </div>
           </div>
           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                     {{ record.payment | split('{:}', 5)[1] }} ({{ record.payment | split('{:}', 5)[0] }}) <br />
                     승인번호:  {{ record.payment | split('{:}', 5)[3] }}<br />
                     승인시간:
                   <input class="btn nbutton3 btn-xs" type="button" value="입금확인">
                   </div>

               </div>
           </div>
        </div>

        <div class="row1">
           <div class="col-md-2 col-xs-4 height_2">
               <div class="cell">
                   <div class="propertyname th_style_1">
                   영수증정보
                   </div>
               </div>
           </div>

           <div class="col-md-10 col-xs-8">
               <div class="cell">
                   <div class="description td_style_1">
                     <textarea id="receipt" name="receipt" class="form-control" style="height:200px;">{{ record.receipt != '' ? record.receipt : "미발행" }}</textarea>
                   </div>

               </div>
           </div>
         </div>
        </div> -->

        <!-- {{ form_close() }} -->
    </div>

    <!-- Result container -->
    <div id="myDiv"></div>

</div>