title = "프로모션"
url = "/pay/promolist/:page"
layout = "default"
description = "프로모션 관리를 하실 수 있습니다"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList]
modelClass = "Jiwon\Byapps\Models\PromotionData"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "mem_name"
noRecordsMessage = "No records found"
detailsPage = "payPromoDetail"
detailsKeyColumn = "idx"
detailsUrlParameter = "idx"
pageNumber = "{{ :page }}"
sortColumn = "idx"
sortDirection = "desc"

[session]
security = "user"
allowedUserGroups[] = "admin_level_1"
redirect = "permission"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"

[datatable]
==
<?php
use Jiwon\Byapps\Models\PromotionData;

function onStart()
{

    $this['func'] = new Class {
        public function dateFormatSimple($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
        public function numberFormat($input)
        {
            $input = substr($input,0,-3);
            $input = number_format($input);
            return "월 {$input}원";
        }
    };
}
?>
==
{% component 'breadcrumbs' %}
<style>

.dataTables_wrapper .dataTables_scroll {
  width:100%;
}
</style>

{% component datatable ~ '::promotion' %}

<!-- <div class="container col-12 col-md-12">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


 <div class="method">
   <div class="col-md-12 margin-5">

      <table id="promotionTable" class="table table-striped mb-3" style="width:100%;">
                <thead>
                    <tr>
                        <th>프로모션명</th>
                        <th>회원</th>
                        <th>사용</th>
                        <th>적용대상</th>
                        <th>적용내용</th>
                        <th>등록일</th>
                    </tr>
                </thead>

                <tbody>
                 {% for record in records %}
                    <tr>
                        <td>{{ record.pm_title }}</td>
                        <td>
                        {% if detailsPage %}
                            <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                        {% endif %}

                        {{ attribute(record, displayColumn) }} ({{ record.mem_id}})

                        {% if detailsPage %}
                            </a>
                        {% endif %}
                        </td>
                        <td>{{ record.pm_used == 0 ? "미사용" : "사용" }}</td>
                        <td>{{ record.pm_target == 'ma' ? "마케팅 오토메이션" : "리타겟팅" }}</td>
                        <td>{{ func.numberFormat(record.pm_content) }}</td>
                        <td>{{ func.dateFormatSimple(record.reg_time) }}</td>
                    </tr>

                 {% else %}
                <li class="no-data">{{ noRecordsMessage }}</li>
                {% endfor %}
                </tbody>
      </table>

  </div>
</div> -->

<!-- <script type="text/javascript">

  $(document).ready(function() {

  var table = $('#promotionTable').DataTable({
        "language": {
            "emptyTable": "데이터가 없습니다.",
            "search": "검색: ",
            "thousands" : ",",
            "zeroRecords": "일치하는 데이터가 없습니다.",
            "loadingRecords": "로딩중...",
            "processing":     "잠시만 기다려 주세요...",
        },
        "paging": true,
        "pageLength": 20,
        "info": false,
        "autoWidth": true,
        "fixedHeader": false,
        "responsive": true,
        "orderClasses": false,
        // "scrollX": true,
        "dom": 'Bfrtip',
        "buttons": [
            'excel', 'copy'
        ],
      });

      setTimeout(function(){
        $('#promotionTable_filter').prepend('<select id="promotionTable_select"></select>');
        $('#promotionTable > thead > tr').children().each(function (indexInArray, valueOfElement) {
            $('#promotionTable_select').append('<option>'+valueOfElement.innerHTML+'</option>');
        });
        $('.dataTables_filter input').unbind().bind('keyup', function () {
              var colIndex = document.querySelector('#promotionTable_select').selectedIndex;
              table.column(colIndex).search(this.value).draw();
          });
      }, 500);

        $('#promotionTable_filter').after('<p style="width:100%; height:10px;"></p>');
  });
</script> -->
