title = "업데이트 관리"
url = "/apps/updatelist/:page?"
layout = "default"
description = "업데이트 접수를 관리 하실 수 있습니다"
is_hidden = 0
child_of = "appsList"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderList]
modelClass = "Jiwon\Byapps\Models\UpdateData"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "app_id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsKeyColumn = "idx"
detailsUrlParameter = "idx"
pageNumber = "{{ :page }}"
sortColumn = "idx"
sortDirection = "desc"

[session]
security = "user"
allowedUserGroups[] = "admin_level_1"
redirect = "permission"

[breadcrumbs]
main-ol-class = "breadcrumb"
main-li-class = "breadcrumb-item"
active-class = "active"
disabled-class = "disabled"
==
<?php
use Jiwon\Byapps\Models\UpdateData;
use Jiwon\Byapps\Models\AppsData;

function onStart()
{
    $this['func'] = new Class {
        public function dateFormatSimple($val)
        {
           $dateString = date("Y-m-d", $val);
           return $dateString;
        }
    };

    $this['appProcess'] = array(
      0 =>'취소', 1 =>'접수', 2 =>'신청확인', 3 =>'진행중', 4 =>'심사중', 9 =>'완료'
    );
}
?>
==
{% component 'breadcrumbs' %}


<div class="col-xs-12 col-12">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<table id="datalist" class="table table-striped" style="width:100%">
        <thead>
            <tr>
                <th>신청일</th>
                <th>진행상태</th>
                <th>앱아이디</th>
                <th>앱명</th>
                <th>앱OS</th>
                <th>버전</th>
                <th>업데이트내역</th>
            </tr>
        </thead>

        <tbody>
         {% for record in records %}
            <tr>
                <td class="regdate">{{ func.dateFormatSimple(record.reg_time) }}</td>
                <td>{% for key,val in appProcess %}
                     {{ key == record.app_process ? val : "" }}
                  {% endfor %}
                </td>
                <td>
                {% if detailsPage %}
                    <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}">
                {% endif %}

                {{ attribute(record, displayColumn) }}

                {% if detailsPage %}
                    </a>
                {% endif %}
                </td>
                <td>{{ record.app_name }}</td>
                <!-- <td>{{ record.apps_type }}</td> -->
                <td>{{ record.apps_type == '안드로이드+iOS' ? '<i class="mdi mdi-android-debug-bridge" style="color: #2ac250"></i><i class="mdi mdi-apple" style="color: darkgray"></i>' : '<i class="mdi mdi-android-debug-bridge" style="color: #2ac250"></i>' }}</td>
                <td>{{ record.joins.app_ver }}</td>
                <td>업데이트내역</td>
            </tr>

         {% else %}
        <li class="no-data">{{ noRecordsMessage }}</li>
        {% endfor %}
        </tbody>
    </table>

{% set paginationEnabled =
    records.currentPage > 1 or
    records.lastPage > 1 or
    records.lastPage > records.currentPage
%}

{% if paginationEnabled %}
    {# How many pages to display around the current page #}
    {% set n = 2 %}

    {% set currentPageZeroBased = records.currentPage-1 %}

    {% set pageLinks = [] %}
    {% set pageSet = [] %}

    {% set startOffset = max(currentPageZeroBased - n, 0) %}
    {% if (startOffset + 2*n+1) > (records.lastPage-1) %}
        {% set startOffset = max(records.lastPage - 2*n - 1, 0) %}
    {% endif %}

    {% for page in 1..records.lastPage %}
        {% set pageLinks = pageLinks|merge([page]) %}
    {% endfor %}

    {% set activeBlock = pageLinks|slice(startOffset, 2*n + 1) %}

    {% if startOffset > 0 %}
        {% set pageSet = pageSet|merge([1]) %}

        {% if startOffset > 1 %}
            {% set pageSet = pageSet|merge(['...']) %}
        {% endif %}
    {% endif %}

    {% set pageSet = pageSet|merge(activeBlock) %}

    {% set diffToEnd = (records.lastPage-1) - (startOffset + 2*n+1) + 1 %}

    {% if diffToEnd > 0 %}
        {% if diffToEnd > 1 %}
            {% set pageSet = pageSet|merge(['...']) %}
        {% endif %}

        {% set pageSet = pageSet|merge([records.lastPage]) %}
    {% endif %}

    <ul class="pagination">
        {% if records.currentPage > 1 %}
            <li>
                <a href="{{ paginationUrl ~ (records.currentPage - 1) }}">
                    &larr; Previous
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    &larr; Previous
                </span>
            </li>
        {% endif %}

        {% for page in pageSet %}
            {% if page == '...' %}
                <li class="interval">
                    <a>{{ page }}</a>
                </li>
            {% else %}
                <li class="{{ page == records.currentPage ? 'active' }}">
                    <a href="{{ paginationUrl ~ page }}">{{ page }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if records.lastPage > records.currentPage %}
            <li>
                <a href="{{ paginationUrl ~ (records.currentPage + 1) }}">
                    Next &rarr;
                </a>
            </li>
        {% else %}
            <li class="disabled">
                <span>
                    Next &rarr;
                </span>
            </li>
        {% endif %}
    </ul>
{% endif %}

<!-- <script>
    $(document).ready(function() {
        var table =  $('#example').DataTable( {
            responsive: true,
            "language": {
                "emptyTable": "데이터가 없어요.",
                "lengthMenu": "페이지당 _MENU_ 개씩 보기",
                "info": "현재 _START_ - _END_ / _TOTAL_건",
                "infoEmpty": "데이터 없음",
                "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                "search": "에서 검색: ",
                "zeroRecords": "일치하는 데이터가 없어요.",
                "loadingRecords": "로딩중...",
                "processing":     "잠시만 기다려 주세요...",
                "paginate": {
                    "next": "다음",
                    "previous": "이전"
                },
                "buttons": {
                    "excel": "엑셀",
                    "copy": "복사"
                }
            },
            "dom": 'Bfrtip',
            "buttons": [
                'excel', 'copy'
            ],
            "pageLength": 100,
        } );

            /* Column별 검색기능 추가 */
        $('#example_filter').prepend('<select id="select"></select>');
        $('#example > thead > tr').children().each(function (indexInArray, valueOfElement) {
            $('#select').append('<option>'+valueOfElement.innerHTML+'</option>');
        });

        $('#example thead tr').clone(true).appendTo( '#example thead' );
        $('#example thead tr:eq(1) th').each( function (i) {
            var title = $(this).text();
            $(this).attr("class","");

            $(this).html( '<input type="text" placeholder="Search '+title+'" />' );

                $( 'input', this ).on( 'keyup change', function () {
                    if ( table.column(i).search() !== this.value ) {
                        table
                            .column(i)
                            .search( this.value )
                            .draw();
                    }
                } );
        } );
    });
</script> -->
