title = "업데이트 상세"
url = "/apps/updateData/:idx"
layout = "default"
is_hidden = 0
child_of = "mey_no_parent"
hide_crumb = 0
remove_crumb_trail = 0
crumb_disabled = 0

[builderDetails]
modelClass = "Jiwon\Byapps\Models\UpdateData"
identifierValue = "{{ :idx }}"
modelKeyColumn = "idx"
displayColumn = "app_id"
notFoundMessage = "Record not found"

[session]
security = "user"
allowedUserGroups[] = "admin_level_2"
redirect = "permission"
==
<?php
use Jiwon\Byapps\Models\UpdateData;

function onStart()
{
    $this['record'] = UpdateData::where('idx', '=', $this->param('idx'))->first();

    $this['util'] = new Class {
        public function dateFormat($val)
        {
           $dateString = date("Y-m-d h:i:s", $val);
           return $dateString;
        }
    };

    $this['itemlist'] = array("접수날짜", "Process", "회원ID", "App. Name", "App. OS", "App. ID","Update Type" , "Update Detail", "App. Intro");
}
?>
==
<div class="jumbotron title-js">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h3>업데이트 상세</h3>
                <small>업데이트 접수를 관리 하실 수 있습니다</small>
            </div>
        </div>
    </div>
</div>

<div class="container">

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="alert alert-info">
{% if record %}
   <!--  <h4>Row modifier class included</h4> -->
    <p>
       {{ attribute(record, displayColumn) }}
    </p>

{% else %}
    {{ notFoundMessage }}
{% endif %}
</div>

<hr />

<div class="method">

    <div class="row margin-0">
       <div class="col-md-3">
           <div class="cell">
{% for i in itemlist %}
               <div class="propertyname th_style_1">
                 {{ i }}
               </div>
{% endfor %}
           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
                 {{ util.dateFormat(record.reg_time) }} <a href="#" title="삭제" class="btn_del"></a>
               </div>
           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
                 {{ record.app_process}}
               </div>
           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="descrisption td_style_1">
                 {{ record.mem_id }}
                 <input class="nbutton3" type="button" value="회원정보">
                 <input class="nbutton3" type="button" value="주문내역">
                 <input class="nbutton3" type="button" value="앱관리">
               </div>
           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
                 {{ record.app_name }}
               </div>

           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
                 {{ record.apps_type }}
               </div>

           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
               1원
               <input class="cbutton3" type="button" value="결제취소">
               <input class="cbutton3" type="button" value="무료처리">
               </div>

           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
               <input class="nbutton3" type="button" value="입금확인">
               </div>

           </div>
       </div>

       <div class="col-md-5">
           <div class="cell">
               <div class="description td_style_1">
                 <textarea name="receipt" class="form-control" style="height:200px;">{{ record.receipt }}</textarea>
               </div>

           </div>
       </div>

    </div>

  </div>
</div>
