.top_banner{
    width:100%;
    height: 37rem;;
    display:none;
}
.top_banner table{
    width:100%;
    height:100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.top_banner table th{
    text-align:right;
    background-color:#f7f7f7;
}
.show_btn{
    width:100%;
    height:3rem;
    text-align:center;
    background-color:#eaeaea;
    cursor:pointer;
}
.show_btn img{
    width:10%;
    height:90%;
}
