.top_banner{
    height: fit-content;
    display:none;
    width: 97%;
    margin: 0 auto;
}
.top_banner table{
    width:100%;
    height:37rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.top_banner table th{
    text-align:right;
    background-color:#f7f7f7;
}
.show_btn{
    margin: 0 0 10px;
    width:30%;
    height:2rem;
    text-align:center;
    background-color:#c6c6c6;
    cursor:pointer;
    border-radius: 0px 0 80px 80px;
}
.show_btn h3{
    margin-top: 10px;
    text-align:center;
    line-height:5rem;
    font-size:3rem;
    color:#000000;
}

html #sidebar {
    top:0;
    right:-40%;
    height: 100%;
    background: white;
    border-left: 1px solid #c6c6c6;
    color: #fff;
    position: fixed;
    font-size: .8em;
    z-index: 100;
    display:none;
}

html.open #sidebar {
  overflow-y: auto;
  font-size: .8em;
  z-index: 1040;
  top:0;
  right:0;
  display: block;
}


#sidebar-toggle {
    position: fixed;
    right: -2px;
    text-align: center;
    color: #1E58C0;
    background-color: #ffffff;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 1035;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-family: sans-serif;
    border: 1px solid #d1cfcf;
    top: 30%;
}
#sidebar-toggle span {
  font-size: 1.5em;
  color:#15AABF;
  padding: 10px 0 0;
}

#sidebar-toggle p {
  color:black;
  font-size:0.5em;
  line-height: 0;
}

#comment {
  overflow-y: auto;
}

#sidebar-close{
    /* background-color: gray; */
    background-color: white;
    color: gray;
    border-left: 1px;
    cursor:pointer;
    font-size: 1.4em;
}

/* 앱 데이터 표시부분 */
.form-control[disabled] {
  background-color: #f7f7f7;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid grey;
  color: grey;
}

.form-control {
  background-color: #f7f7f7;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid grey;
  border-radius: 0px;
}

.alert-info {
  background-color: #f7f7f7;
  border-color: grey;
  color: #000;
}


.breadcrumb {
  /* margin-top:1em !important; */
}
