.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
.calendar>div:nth-last-child(2){
    border-right: 3px solid #ddd;
}
.calendar>div{
    width : 13%;
    height: 130px;
    float: left;
    border-left: 3px solid #ddd;
}
.calendar>input{
    position: relative;
    height: 30px;
    top: calc( 50px - 15px );
    float: left;
    width: 3.5%;
}
.calendar>input:nth-last-child(1){
    margin-left: 1%;
}
.calendar>input:nth-child(1){
    margin-right: 1%;
}