==
<div id="sidebar-close" class="my-2"><i class="fas fa-times"></i></div>
<div class="col-md-12">
    <form class="navbar-nav flex-row ml-md-auto d-none d-md-flex form-inline">
            <div class="form-group">
                <select name="" class="custom-select my-1 mr-sm-2">
                    <option value="1">주문</option>
                    <option value="2">결제</option>
                    <option value="3">업데이트</option>
                    <option value="4">앱상세</option>
                    <option value="5">리셀러</option>
                    <option value="6">문의</option>
                    <option value="7">MA</option>
                    <option value="8">전체</option>
                </select>
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
            </div>
    </form>
    <div class="col-md-12 py-3" id="comment">
        <div class="row alert alert-secondary">
            결제완료
        </div>
        <div class="row alert alert-secondary">
            고도몰 이관
        </div>
        <div class="row alert alert-secondary">
            세금계산서 미발행
        </div>
        <div class="row alert alert-secondary">
            3개월무료
        </div>
        <div class="row alert alert-secondary">
            연장결제
        </div>
        <div class="row alert alert-secondary">
            스플래쉬 업데이트 요청
        </div>
        <div class="row alert alert-secondary">
            지인소개 업체 추가 3개월 무료
        </div>
    </div>
    <div class="col-md-12 fixed">
        <form class="">
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">등록</button>
            </div>
        </form>
    </div>

</div>